.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.App-header {
  background-color: #282c34;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell {
  font-size: 2rem;
  display: inline-block;
  padding: .8rem;
  margin: .5rem;
  border-bottom: .1rem solid #000000;
}

.empty-cell {
  font-size: 2rem;
  display: inline-block;
  padding: .5rem;
  margin: .5rem;
}

.input-container {
  margin: 1rem 2rem;
  text-align: center;
}

.input {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  padding: .5rem .5rem;
  border-bottom: .1rem solid #282c34;
  box-shadow: 0 0.1rem #d3d3d3;
  -webkit-appearance: meter;
  outline: none;
}

.game {
  margin: 1rem 0rem;
  text-align: center;
}

.title {
  margin: 1rem 0;
  font-size: 2rem;
}

.life-number {
  font-size: 3rem;
  display: block;
  color: rgb(184, 18, 18);
  display: inline;
  padding: .5rem;
  margin: 4rem;
  border-left: .1rem solid #000000;
  border-right: .1rem solid #000000;
  border-radius: 1rem;
}

.movie-title {
  margin: 2rem 0;
}

.picked-letters {
  margin: 1rem 1rem;
}

.guessed-letter {
  display: inline;
  font-size: 1.5rem;
}

.button-active {
  -webkit-appearance: none;
  padding: .5rem 3rem;
  background-color: green;
  color: white;
  border-radius: .5rem;
}

.button-active:hover {
  background-color: rgb(3, 194, 3);
}

.button-inactive {
  -webkit-appearance: none;
  padding: .5rem 3rem;
  background-color: grey;
  color: white;
  border-radius: .5rem; 
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #282c34
}

.footer-author {
  color: white;
  font-size: 1.5rem;
}

.footer-info {
  color: white;
  font-size: 1rem;
}

@media only screen and (max-width: 767px) {
  .App-header {
    font-size: 2rem;
  }

  .cell {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1rem;
  }

  .life-number {
    font-size: 1.5rem;
  }

  .button-active {
    padding: .5rem 8rem;
  }

  .guessed-letter {
    font-size: 1rem;
  }

  .footer-author {
    font-size: 1rem;
  }

  .footer-info {
    font-size: .5rem;
  }

  .footer {
    position: absolute;
  }
}