.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell {
  font-size: 2rem;
  display: inline-block;
  padding: .8rem;
  margin: .5rem;
  border-bottom: .1rem solid #000000;
}

.empty-cell {
  font-size: 2rem;
  display: inline-block;
  padding: .5rem;
  margin: .5rem;
}

.input-container {
  margin: 1rem 2rem;
  text-align: center;
}

.input {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  padding: .5rem .5rem;
  border-bottom: .1rem solid #282c34;
  box-shadow: 0 0.1rem #d3d3d3;
  -webkit-appearance: none;
  outline: none;
}

.game {
  margin: 1rem 0rem;
  text-align: center;
}

.lifes {
  margin: 1rem 0;
  font-size: 2rem;
}

.life-number {
  font-size: 3rem;
  display: block;
  color: rgb(184, 18, 18);
  display: inline-block;
  padding: .5rem;
  margin: .5rem;
  border-left: .1rem solid #000000;
  border-right: .1rem solid #000000;
  border-radius: 1rem;
}

.picked-letters {

}